<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img id="ItemPreview" src="">
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>
    var socketio = io();
    socketio.on('connect', function() {
        console.log("Connected!");
    });
    socketio.on("get-file", function(data){
        console.log("Called!")
        recv_img(); // showing the image when it's recived in the server.
    });
    function recv_img(){
        const img = document.querySelector('img');
        $.ajax({ // try to disable cache if it doesn't work.
        url: "/represent_file",
        type: 'GET',
            success: function(data, status) {
                document.getElementById("ItemPreview").src = "data:image/png;base64," + data;
                // img.src = objectURL;
            }
        });
    }
</script>