<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!------ Include the above in your HEAD tag ---------->
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Website.</title>
</head>
<body>
    <div id="login">
        <div class="container">
            
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" action="" method="POST">
                            <h3 class="text-center text-info">Login</h3>
                            <label for="username" class="text-info glyphicon glyphicon-user">Username:</label><br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <i class="fa fa-user icon"></i>
                                  </div>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label  for="password" class="text-info">Password:</label><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <i class="fa fa-lock icon"></i>
                                    </div>
                                    <input  type="password" name="password" id="password" class="form-control">
                                </div>
                                <i class="fa fa-eye icon" onclick="myFunction()" id="eye"></i>
                                
                                <div class="text-right">
                                    <input class="form-check-input up" type="checkbox" id="autoSizingCheck" checked="checked" disabled>
                                    
                                        <label class="form-check-label up" for="autoSizingCheck" >
                                        Remember me(off)
                                        </label>
                                </div>
                            </div>
                        </form>
                        
                        <div class="col-lg-20">
                        <div class="text-right">
                            <a href="/register" class="btn btn-outline-info" id="reg">Register here</a>
                        </div>
                    </div>
                        <div class="g-recaptcha btn-cap" data-sitekey="6LfTCaYZAAAAAAn89yBdihYAlDUgZTQt2rTper5N" id="recaptcha"></div> <!--this is the site key it could be visible-->
                        <input type="submit" name="submit" class="btn btn-info btn-md btn-cap" id="button-id" value="submit">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
<style>
body {
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 700px;
  height: 425px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
.up{
    margin-top: -30px;
}

#autoSizingCheck{
    height: 25px;
}
.icon {
  padding: 10px;
  background: #00a9ff;
  color: white;
  min-width: 50px;
  text-align: center;
}
.btn-cap{
    margin-top: -40;
}
#recaptcha{
    position: absolute;
    bottom: 70px;
}
#reg{
    margin-top: 99;
}
.fa-lock{
    width: 1px;
}
</style>
<script>
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": true,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
function myFunction() {
  var x = document.getElementById("password");
  if(document.getElementById("eye").className == "fa fa-eye-slash icon"){
    document.getElementById("eye").className = "fa fa-eye icon";
  }
  else{
    document.getElementById("eye").className = "fa fa-eye-slash icon";
  }
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    $(document).ready(function(){
        $("#button-id").click(function(){
            var res = grecaptcha.getResponse();
            console.log(res.length);
            if(res.length != 0){ //It should be an empty string 
                var data = $("form").serialize();
                if ($('#autoSizingCheck').is(':checked')){
                    data = data + "&CheckBox=" + "True" // maybe change in the future(that's why I have the +), option is disabled for now
                }
                else{
                    data = data + "&CheckBox=" + "True" // maybe change in the future(that's why I have the +), option is disabled for now
                }
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: 'login',
                    data: data,
                    success: function(res){
                        console.log(res)
                        if(res=="username"){
                            grecaptcha.reset();
                            toastr["error"]("This username is not in my database. Perhaps your mail toekn has ended and someone else took it.", "This username doesn't exist")
                        } 
                        else if(res=="password"){
                            grecaptcha.reset();
                            toastr["error"]("Not the right password. Please try again.", "Wrong password")
                            
                        }
                        else{
                            if(res =="email"){
                                grecaptcha.reset();
                                toastr["error"]("Check your primary mail box or junk. You will have to verify your email before you login. If the token has ended, you'll need to sign up again.", "Please verify your email")
                                
                            }
                            else if(res=="Great"){
                                $("#pass-wrong").html("great");
                                $("#user-wrong").html("great");
                                toastr["success"]("Login you in!", "Success!")
                                $(location).attr("href", "http://127.0.0.1:5000/")
                            }
                            else{
                                console.log("Else")
                                window.location = "http://127.0.0.1:5000/check-2fa?id=" + res;
                            }
                        }
                    }
                });
            }
            else{
                toastr["error"]("You have to check the captcha box to make sure that you are a human", "Please check the captcha box")                    
            }
        });
    });
</script>